body {
    margin: 0;
    padding: 0;
    font-family: Pobeda;
}

@font-face {
    font-family: Pobeda;
    src: url(../fonts/pobeda-regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(../fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
    --blue: #60748D;
    --light-blue: #6d94c3;
}

/* Стили хэдера */
header {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;

}

header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3% 10%;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: 0em;
    text-align: left;
    height: 5svh;
    background: linear-gradient(180deg, #FFFFFF -31.5%, rgba(255, 255, 255, 0) 96.67%);
    z-index: 10;
}

header .navbar .logo img {
    width: 100%;
}


header .navbar ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

header .navbar li {
    list-style-type: none;
    padding: 0px 30px;
}


header .navbar li a {
    text-decoration: none;
    color: black;
}

header .navbar li a.active {
    font-weight: bold;
}

header .navbar li a:hover {
    font-weight: bold;
}

header .navbar .burger {
    display: none;
}

header .corp-name {
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    z-index: 10;
}

header .corp-name span {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0em;
    text-align: center;
    color: white;

    display: inline-block;
    width: 100%;
}

header.main-page {
    height: 150svh;
    min-height: 680px;
    background: url(../imgs/main-page-backgrnd.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(96, 116, 141, 0.20);
}

header.main-page .background {
    background: rgba(96, 116, 141, 0.20);
    width: 100%;
    height: 150svh;
    min-height: 680px;
    position: absolute;
}

.tower {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.tower .img {
    width: 30%;
    height: 100%;
    margin: 10svw 0px;
}

.tower .img img {
    width: 100%;
}

.tower .questions {
    width: 60%;
}

.tower .questions div {
    margin: 15svw 0px;
}

.tower .questions div span {
    color: #000;
    font-family: Pobeda;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Стили футера */
footer {
    padding: 3% 10%;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .refs {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: 0em;
    text-align: left;
    width: 30%;
}

footer ul {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer .refs li {
    margin: 20px 0px;
    list-style-type: none;
}

footer .refs li a {
    text-decoration: none;
    color: white;
}

footer .refs li a.active {
    font-weight: bold;
}

footer .refs li a:hover {
    font-weight: bold;
}

footer .feedback {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: 0em;
    text-align: left;
    color: white;

    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .feedback div {
    margin: 20px 0px;
}

footer .logo-first>img {
    width: 100%;
}

footer .logo-second>img {
    width: 100%;
}

@media screen and (max-width: 1100px) {
    header .navbar li {
        padding: 0px 10px;
    }
}

@media screen and (max-width: 860px) {
    header .navbar {
        font-size: 2rem;
    }

    header .corp-name span {
        font-size: 3rem;
    }

    .tower .questions div span {
        font-size: 3rem;
    }

    footer .feedback .tel-nums {
        font-size: 2rem;
    }
}

@media screen and (max-width: 760px) {
    header .navbar {
        font-size: 1.5rem;
    }
}



/* Вкладка история */

header.history {
    height: 150svh;
    min-height: 680px;
    background: url(../imgs/history-header.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(96, 116, 141, 0.20);
}

header .question {
    position: absolute;
    top: 50%;
    left: 10%;
}

header .question span {
    font-size: 4rem;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}


section.history {
    margin: 8%;
}

section.history .card {
    display: flex;
    flex-direction: row;
    align-items: center;

}

section.history .card .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.history .card .pic {
    margin-right: 5%;
}

section.history .card .text,
section.history .description {
    color: #000;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

section.history .card {
    margin-top: 10%;
}

@media screen and (max-width: 1550px) {

    section.history .card .text,
    section.history .description {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1200px) {

    section.history .card .text,
    section.history .description {
        font-size: 1rem;
    }

    section.history .card {
        margin-top: 5%;
    }

    section.history .card .pic img {
        width: 25vw;

    }

    section.history {
        margin: 4%;
    }
}

@media screen and (max-width: 860px) {
    section.history .card .pic img {
        width: 30vw;
    }

}



/* Вкладка контакты */
section.info-card,
section.map {
    margin: 10% 8% 6% 8%;
}

section.info-card {
    background: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.info-card .pic {
    width: 80%;
}

section.info-card .pic img {
    width: 100%;
    margin-top: -10%;


}

section.info-card .description {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;

    color: #FFF;
    font-family: Pobeda;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


section.info-card .description div {
    margin: 20px 0px;
}

section.info-card .description .telephone {
    color: #FFF;
    font-family: Pobeda;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;

    margin-bottom: 10%;
}

@media screen and (max-width: 980px) {

    section.info-card .description div {
        font-size: 1.2rem !important;
        margin: 10px 0px;
    }

}

/* Вкладка разработки */

header.develop {
    height: 100svh;
    min-height: 1100px;
    background: url(../imgs/dev-header.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(96, 116, 141, 0.20);
    position: relative;
}

header.develop .navbar {
    background: linear-gradient(180deg, #FFF -31.5%, rgba(255, 255, 255, 0.00) 100%);
}

header.develop .space-bot .name {
    color: #FFF;
    font-family: Pobeda;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header.develop .space-bot {
    display: flex;
    flex-direction: column;
    width: 40%;

    position: absolute;
    top: 40%;
    left: 5%;

}

section.space-bot-mobile {
    display: none;
}

header.develop.space-bot div {
    margin: 15px;
}

header.develop .space-bot .text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

section.dev-cards,
section.robot-card {
    margin: 10% 13% 6% 13%;
}

.robot-card {
    padding: 0% 2% 5% 2%;
}

section.robot-card {
    background: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

section.robot-card .pic {
    width: 80%;
}

section.robot-card .pic img {
    width: 100%;
    height: 100%;
    margin-top: -25%;
}

section.robot-card .description {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #FFF;
    font-family: Pobeda;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10%;
}

section.robot-card .description div {
    margin: 20px 0;
}


section.robot-card .description .name {
    width: 100%;
    display: flex;
    justify-content: center;

    color: #FFF;
    text-align: center;
    font-family: Pobeda;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

section.robot-card .description .text {
    width: 100%;
    color: #FFF;
    text-align: justify;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

section.robot-card .other-pics {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section.robot-card .other-pics .pic {
    width: 90%;
    height: 70%;
}

section.robot-card .other-pics .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.robot-card .other-pics>.pic:nth-child(2) {
    margin: 0px 70px;
}



section.dev-cards .card .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

section.dev-cards .card .pic {
    width: 450px;
    height: 350px;
    margin-right: 80px;
}

section.dev-cards {
    margin: 10% 13% 6% 13%;
}

section.dev-cards .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}

section.dev-cards .description {
    width: 60%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}


section.dev-cards .description .name {
    color: #000;
    font-family: Pobeda;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

section.dev-cards .description .text {
    color: #000;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer.dev {
    background: white;
}

footer.dev .refs ul li a,
footer.dev .feedback .tel-nums {
    color: black;
}

@media screen and (max-width: 1350px) {
    .space-bot {
        width: 60%;
    }

    section.dev-cards .card .description .name {
        font-size: 2rem;
    }

    section.dev-cards .card .description .text {
        font-size: 1rem;
    }

    section.dev-cards .card .pic {
        margin-right: 40px;
    }

    section.dev-cards,
    section.robot-card {
        margin: 10% 8% 6% 8%;
    }

    section.robot-card {
        margin-top: 20%;
    }
}

@media screen and (max-width: 1150px) {
    header.develop .space-bot .text {
        font-size: 1rem;
    }

    section.robot-card .description .text {
        font-size: 1rem;
    }

    section.robot-card .other-pics>.pic:nth-child(2) {
        margin: 0px 30px;
    }
}

@media screen and (max-width: 980px) {
    section.dev-cards .card .pic {
        width: 400px;
        height: 300px;
    }

    section.dev-cards .card .description {
        height: 300px;
    }

    section.dev-cards .card .description .name {
        font-size: 1.5rem;
    }
}

section.scheme {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3%;
}

section.scheme .pic.tower {
    width: 20%;
    margin: 0px 50px;
}

section.scheme .tower img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


section.scheme .text {
    color: #000;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 60%;
}

section.slider {
    margin: 10%
}

.slider {
    padding: 0% 2% 5% 2%;
}

section.slider {
    background: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

section.slider .interface {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

section.slider .interface button {
    border: 0;
    background: none;
    width: 70px;
    height: 70px;

}

section.slider .interface button img {
    width: 100%;
    height: 100%;
}

section.slider .interface .slide {
    width: 400px;
    height: 300px;
    margin-top: -15%;
}

section.slider .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.slider .other-slides {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section.slider .other-slides .row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

section.slider .other-slides .pic {
    width: 100%;
    margin: 10px;
}

section.slider .other-slides .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer.arc {
    background: white;
}

footer.arc .refs ul li a,
footer.arc .feedback .tel-nums {
    color: black;
}

@media screen and (max-width: 1450px) {
    section.scheme .text {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 1200px) {

    section.scheme .text {
        width: 70%;
    }

    section.scheme .pic.tower {
        width: 35%;
        margin: 0px 50px;
    }
}

@media screen and (max-width: 980px) {

    section.scheme .pic.tower {
        width: 35%;
        margin: 0px 30px;
    }

    header .navbar {
        padding: 5%;
    }

    section.scheme .text {
        font-size: 1rem;
    }

    section.scheme .arrow {
        margin-right: -20px;
        margin-bottom: -20px;
    }

    header.history {
        height: 150svh;
        min-height: 680px;
        background: url(../imgs/history-header-mobile.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(96, 116, 141, 0.20);
    }

    header.history .question span {
        color: black;
        font-weight: bold;
    }

    header.history .question {
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*Мобильная версия*/
@media screen and (max-width: 860px) {

    header.main-page .navbar {
        padding: 7%;
    }


    header .navbar .logo img {
        width: 120%;
        margin-bottom: -10px;
    }

    header .corp-name {
        display: none;
    }

    .tower .questions {
        display: none;
    }

    .tower .img {
        width: 70%;
    }

    footer .feedback,
    footer .refs {
        width: 40%;
    }

    footer .feedback .tel-nums,
    footer .refs li a {
        font-size: 1.2rem;
    }

    footer .refs li {
        margin: 10px 0px;
    }

    header.history .question span {
        font-size: 2rem;

    }

    section.history .card .pic {
        width: 50svw;
    }

    section.history .description {
        font-size: 0.8rem;
    }

    section.history .card .text {
        font-size: 0.8rem;
    }

    section.dev-cards .card .description .name {
        margin-bottom: 10px;
    }

    section.dev-cards .card .pic {
        margin-right: 20px;
    }
    .menuItem {
        display: block;
        margin: 2rem 4rem;
        font-size: 1.8rem;
        color: white !important;
        text-decoration: none;
      }
      
      .hamburger {
        width: 50px;
        height: 50px;
        display: block !important;
        z-index: 100;
        right: 1rem;
        padding: 10px;
        border: none;
        background: white;
        cursor: pointer;
      }
      
      .hamburger img.closeIcon {
        display: none;
      }

      .hamburger img{
        width: 30px;
      }
      
      .menu {
        position: absolute;
        transform: translateY(-100%);
        transition: transform 0.3s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background:var(--blue);
        color: white;
        list-style: none;
        padding-top: 4rem;

        height: 400px;
      }
      
      .showMenu {
        transform: translateY(0);
      }

      header .navbar ul.menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}

.hamburger{
    display: none;
}

@media screen and (max-width: 800px) {
    .space-bot .text {
        display: none;
    }

    section.scheme .pic.tower {
        width: 70%;
        margin-bottom: 30px;
    }

    section.space-bot-mobile {
        display: block;
        color: #000;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 6% 8% 30% 6%;
    }

    section.robot-card .description {
        width: 90%;
    }

    section.robot-card .pic {
        width: 120%;
    }

    section.robot-card .other-pics {
        margin-top: 10px;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    section.robot-card .other-pics>.pic:nth-child(2) {
        margin: 0px 10px;
    }


    section.robot-card .other-pics .pic {
        height: 110px;
    }

    section.scheme {
        flex-direction: column;
        margin: 8%;
    }

    section.scheme .text {
        width: 100%;
    }

    section.slider .other-slides{
        flex-direction: column;
    }

    section.slider .interface .slide{
        width: 70%;
    }

    section.slider .interface button{
        display: none;
    }

}

@media screen and (max-width: 760px) {
    section.dev-cards .card {
        flex-direction: column;

    }

    section.dev-cards .card .description,
    section.dev-cards .card .pic {
        width: 100%;
    }

    section.dev-cards .card .description {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    section.dev-cards .card .name {
        text-align: center;
        margin-bottom: 0px;
        margin: 20px 0px !important;
    }

    section.dev-cards .card .name,
    section.dev-cards .card .text {
        width: 100%;
    }

    section.dev-cards .card .pic {
        margin-right: 0;
    }

}

@media screen and (max-width: 600px) {

    section.info-card,
    section.map {
        margin: 5%;
    }

    section.info-card {
        margin-top: 100px;
    }

    header .space-bot {
        top: 30% !important;
    }

    header .space-bot .name {
        font-size: 1.5rem;
    }

    header .navbar {
        padding: 10%;
    }

    header.develop {
        min-height: 500px;
    }
}

@media screen and (max-width: 500px) {
    section.history {
        margin: 10%;
    }

    section.robot-card .other-pics .pic {
        height: 70px;
    }


    header .navbar .logo img {
        width: 100%;
        margin-bottom: -10px;
    }

    header .navbar .burger {
        width: 50px;
        height: 50px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    section.history .card {
        flex-direction: column;
    }

    section.history .card .pic {
        width: 100%;
        margin-right: 0;
    }

    section.history .card .pic img {
        width: 100%;

    }

    section.history .description {
        margin-bottom: 20px;
        font-size: 1rem;
    }

    section.history .card .text {
        font-size: 1rem;
        margin: 20px 0px;
    }

    section.history .card .text span {
        display: inline-block;
        width: 100%;
    }

    section.info-card {
        margin-top: 50px;
        margin-bottom: 0;
    }

    section.map {
        background-color: var(--blue);
        padding: 20px;
        margin-top: 0;
        margin-bottom: 20%;
    }

    section.map iframe {
        height: 200px;
    }


    section.info-card .description div {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 300px) {

    header .navbar .logo img {
        width: 70%;
        margin-bottom: -10px;

    }

    footer .feedback,
    footer .refs {
        width: 50%;
    }
}

.other-slides .pic.active {
    border: 2px solid #ffffff; /* Цвет обводки для активного слайда */
}